.ContainerHeader {
  display: flex;
  flex-direction: column;
  .LogoRoboto {
    justify-self: start;
  }
  .ItemNav {
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-self: start;
  }
  .TitleBigger {
    padding: 1em;
    font-size: 6em;
    margin: 0 auto;
  }
}
